# Carpetas de Visual Studio
.vs/
*.user
*.suo

# Build outputs (de cualquier proyecto .NET)
bin/
obj/

# Otros temporales
*.log
Web Service.zip

# Comprimidos
*.zip
*.rar
*.7zip

# Archivos locales del proyecto
JSON_ScriptPrincipal.log
P-ADX4521150_A-1-ADX 45-21 150%.xml
# Salida de publish local
publish/
